<center>
   <br>
    <br>  <br> <br>    <br><br>    <br> <br>    <br> <br>    <br><br> 
    <br>
    <br>
    <br>
    <br>
    <br>
        <a href="https://botsfordiscord.com/bots/507725259617599509" target="_blank"><h1>Upvote on Bots for Discord!</h1></a>
</center>