<html>
<head>
<%- include('../views/partials/header.ejs') %>
</head>

  <style>
  ::-webkit-scrollbar {
      width:0px !important;
  }

  div.topright {
    position: absolute;
    top: 8px;
    right: 16px;
  }

  div.top2right {
    position: absolute;
    top: 8px;
    right: 175px;
  }

  div.center {
    position: absolute;
    top: 185px;
    right: 150px;
    left: 150px;
    bottom: 75px;
  }

  div.topleft {
    position: absolute;
    top: 5px;
    left: 8px;
  }

  div.underleft {
    margin-top: 100px;
  }

  </style>

<body>


  </body>

</html>
