<html>


<head>
<%- include('../views/partials/header.ejs') %>
</head>

<body>
<style>

.spacing {
  margin-top: 150px;
}

div.topleft {
  position: absolute;
  top: 5px;
  left: 16px;
}

</style>

<div class="topleft">
  <h1 class="font-twitter">NQT</h1>
</div>

<div class="spacing">

<center>
  <form class="clean-form">
    <label for="uname">Username</label><br><br>
  <input class="clean-input-1-3" id="uname" type="text" placeholder="Username" required><br><br>
  <label for="pword">Password</label><br><br>
  <input class="clean-input-1-3" type="password" id="pword" type="text" placeholder="Password" required><br><br>
  <label for="pword">Class Code</label><br><br>
  <input class="clean-input-1-3" type="text" id="cc" placeholder="Class Code" required><br><br>
 </form>

  <button onClick="loginClick()" class="clean-button clean-button--xl clean-button--primary clean-button--green tooltip tooltip--right" data-tooltip="Get Started!">Register</button>
</center>
</div>

</body>

<script>
function loginClick() {
  var username = document.getElementById("uname").value;
  var password = document.getElementById("pword").value;
  var cc = document.getElementById("cc").value;
  if (username == "" || password == "" || cc == "") {
    popupS.alert({
      content: 'Missing Required Forms!'
    });
  }else{
  window.location.replace("http://" + window.location.hostname + "/createuser/" + username + "/" + password + "/" + cc);
  }
}
</script>

</html>
